<mat-toolbar id="navvy" class="colory">
  <span id="logo" class="logo">
    <a routerLink="/" id="quirk" class="quirk1">quirk</a>
  </span>
  <button id="menu1" mat-icon-button [matMenuTriggerFor]="appMenu1">
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #appMenu1="matMenu">
    <button mat-menu-item>
      <a class="booton" href="https://ganache.com/" target="_blank">Ganache</a>
    </button>
    <button mat-menu-item>
      <a class="booton" href="/reader">API Reader!</a>
    </button>
    <button mat-menu-item>
      <a class="booton" href="https://split-500b7.firebaseapp.com/landing" target="_blank">Dumpd</a>
    </button>
    <button mat-menu-item>
      <a class="booton" href="/lovely" target="_blank">LovelyDay Inc.</a>
    </button>
    <button mat-menu-item>
      <a class="booton" href="/dogpies" target="_blank">DogPies</a>
    </button>
    <button mat-menu-item>
      <a class="booton" href="/plantMachine" target="_blank">Plant Machine</a>
    </button>
  </mat-menu>
  <span class="fill-space"></span>
  <button id="menu2" mat-icon-button [matMenuTriggerFor]="appMenu2">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #appMenu2="matMenu">
    <button mat-menu-item> Contact </button>
    <button mat-menu-item> Help </button>
  </mat-menu>
  <button id="settingsMenu" mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="colorToggle()">Toggle Colors</button>
  </mat-menu>
</mat-toolbar>
