<h1 id="0">For my amazing wife on this Valentine's Day</h1>
<h3 id="1">When I look at you, my heart soars.</h3>
<div>
  <p id="2">When you are far, I long for you.</p>
  <p id="3">When you are near, I am filled with joy.</p>
  <p id="4">When you share your touch, I tremble.</p>
  <h1 id="5"></h1>
</div>
<h2 id="6">Our time together is a treasure that cannot be valued.</h2>
<img id="piccy" src=''/>
<button id="6" style='margin-top:-50px;' mat-fab (click)="getSchwifty()">Click Me!</button>
<!-- <div style="float:left;">Text goes here</div> -->