<div class="container">
  <div class="row">

<div class="col-sm-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam tenetur quo excepturi officia, praesentium consequatur porro aliquam at sint! Qui facilis quibusdam voluptate ex mollitia fugit. Nobis, quod possimus.</div>
<div class="col-sm-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero molestiae debitis, deserunt excepturi labore consequatur aliquam iste amet velit libero ex dolor quaerat voluptate cupiditate praesentium. Veniam enim aspernatur at?</div>
<div class="col-sm-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum debitis molestias inventore sequi repudiandae saepe commodi facere ducimus harum dignissimos, iusto beatae in vitae amet unde voluptatibus magnam repellat atque.</div>


  </div>
</div>
